/**
* @name LilyPichu modded
* @author kurapikabestwaifu
* @description modded by kurapikabestwaifu
* @invite rtBQX5D3bD
* @version 1.2 :*
* @donate https://ko-fi.com/nyria
*/
@import url("https://nyri4.github.io/LilyPichu/main.css");

:root {

/* --- User variables --- */

/* Background (if you want an image replace it by : 
--background-tertiary-alt: url("image-link"); without that => */
--background-tertiary-alt: url("https://www.freeiconspng.com/uploads/twinkle-star-png-stars-9.png");

--jumping-gif: url('https://media.tenor.com/HLrXIleGBToAAAAi/transparent-cat.gif');

/* Border-radius for the whole theme */
--border-radius: 20px

}

.theme-dark {

    /* Text */
    --text-normal: #adadad;
    --header-primary: #d3d3d3;
    --interactive-normal: #979797;
    --channels-default: #f8e1e5;

    --text-muted: #e2c1c7;
    --interactive-muted: #ad8c91;

    --header-secondary: #aaaaaa;
    --interactive-hover: #919191;
    --interactive-active: #acacac;

    /* Background color */
    --background-primary: rgb(25, 25, 25);
    --background-secondary: rgb(31, 31, 31);
    --background-secondary-alt: rgb(25, 25, 25);
    --background-tertiary: #220f14;
    --background-floating: #221115;
    --background-accent: #585858;
    --channeltextarea-background: var(--background-secondary);
    --background-modifier-hover: rgba(56, 31, 31, 0.32);
    --background-modifier-active: rgba(19, 12, 12, 0.32);
    --background-modifier-selected: rgba(31, 21, 21, 0.32);
    --toast-background: #585858 !important;
    --toast-header: #3b1d24 !important;
    --toast-contents: #464646 !important;
    --toast-border: #363636 !important;
    --input-background: var(--background-secondary);

    /* Scrollbar */
    --scrollbar-auto-thumb: var(--background-tertiary);
    --scrollbar-auto-track: var(--background-secondary-alt);
    --scrollbar-thin-thumb: var(--background-tertiary);
    --scrollbar-thin-track: transparent;

    /* Other */
    --channel-text-area-placeholder: var(--interactive-normal);
    --deprecated-quickswitcher-input-background: var(--background-primary);
}
    .colorBrand-3cPPsm { color: #5a5a5a;}
    .colorDefault-CDqZdO.focused-3qFvc8, .colorDefault-CDqZdO:active:not(.hideInteraction-2jPGL_) { background-color: var(--background-modifier-hover) !important;}

    /* Buttons */
    .lookFilled-yCfaCM { background-color: #5a5a5a !important;}
    .lookFilled-yCfaCM:active, .lookFilled-yCfaCM:hover { background-color: #636363 !important;}
    .lookOutlined-3yKVGo:not(.colorWhite-1H92hK) { color: #525252; border-color: #4d4d4d;}

    /* Hover background */
    .colorDefault-CDqZdO.focused-3qFvc8, .colorDefault-CDqZdO:active:not(.hideInteraction-2jPGL_) { color: var(--interactive-normal);}
@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/base/Apple.css);

.theme-light {

    /* Text */
    --text-normal: #a86373;
    --header-primary: #a86373;
    --interactive-normal: #a86373;
    --channels-default: #a86373;

    --text-muted: #a86373;
    --interactive-muted: #cf92a0;

    --header-secondary: #cf92a0;
    --interactive-hover: #be7d8c;
    --interactive-active: #b36f7f;

    /* Background color */
    --background-primary: #FFFFFF;
    --background-secondary: #ffeeee;
    --background-secondary-alt: #fdc7c7;
    --background-tertiary: #ffbbbb;
    --background-floating: #ffbbbb;
    --background-accent: #c5536c;
    --channeltextarea-background: var(--background-secondary);
    --background-modifier-hover: rgba(56, 31, 31, 0.062);
    --background-modifier-active: rgba(19, 12, 12, 0.123);
    --background-modifier-selected: rgba(31, 21, 21, 0.11);

    /* Scrollbar */
    --scrollbar-auto-thumb: var(--background-tertiary);
    --scrollbar-auto-track: var(--background-secondary-alt);
    --scrollbar-thin-thumb: var(--background-tertiary);
    --scrollbar-thin-track: transparent;

    /* Other */
    --deprecated-quickswitcher-input-background: var(--background-primary);
}

    .colorBrand-3cPPsm { color: #c5536c;}
    .colorDefault-CDqZdO.focused-3qFvc8, .colorDefault-CDqZdO:active:not(.hideInteraction-2jPGL_) { background-color: var(--background-modifier-hover) !important;}

    /* Buttons */
    .lookFilled-yCfaCM { background-color: #c5536c !important;}
    .lookFilled-yCfaCM:active, .lookFilled-yCfaCM:hover { background-color: #b64a61 !important;}
    .lookOutlined-3yKVGo:not(.colorWhite-1H92hK) { color: #c5536c; border-color: #c5536c;}

    /* Hover background */
    .colorDefault-CDqZdO.focused-3qFvc8, .colorDefault-CDqZdO:active:not(.hideInteraction-2jPGL_) { color: var(--interactive-normal);}

/* Things (skidded :tf:) from main.css */

      .container-1eFtFS::after {
    content: "happy happy happy🌘";
    position: fixed;
    top: 220px;
    bottom: 85px;
    right: 60px;
    z-index: -2;
    width: 320px;
    background-color: var(--background-primary);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: var(--text-normal);
    border-radius: var(--border-radius);
    overflow: hidden;
      }

      :root .bg-1QIAus::before {
  z-index: 2;
  bottom: 30%;
  right: 430px;
  width: 30px;
  height: 40px;
  background: url("") no-repeat;
  background-size: 100%

      }

      :root .app-3xd6d0::after {
  z-index: 0;
  left: 50px;
  bottom: 0;
  width: 490px;
  height: 40px;
  background: url("") no-repeat;
  background-size: 100%;

      }

      :root .app-3xd6d0::before {
  left: 0;
  top: 0;
  width: 250px;
  height: 250px;
  background: url("") no-repeat;
  background-size: 100%;
}

:root .layers-OrUESM::after {
  bottom: 15px;
  right: 100px;
  width: 25px;
  height: 25px;
  background: url("https://i.imgur.com/WBUag7e.png") no-repeat;
  background-size: 100%;
}

:root .app-2CXKsg::after {
  bottom: 20px;
  right: 45%;
  width: 40px;
  height: 40px;
  background: url("");
  background-size: 100%;
}

.container-1eFtFS::before {
    content: "";
    position: fixed;
    top: 220px;
    bottom: 85px;
    right: 60px;
    z-index: -1;
    width: 300px;
    border-radius: var(--border-radius);
    background: var(--jumping-gif) bottom/45% no-repeat;
}

    :root .text-2bYgPB::before {
  content: "";
  position: absolute;
  bottom: 100px;
  left: 50px;
  width: 200px;
  height: 200px;
  background: url("https://i.pinimg.com/originals/f7/6d/1c/f76d1c3bffcd5e8599e8f7cc10bd2c00.gif") center/80% no-repeat;
}
